* {
  padding: 100;
  margin: 0;
  outline: 0;
  overflow: hidden;
}

html, body {
  max-width: inherit;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
    margin: 0 auto;
}

#testmenu {
  position: relative;
  top: 50vh;
  right: 50vh;
}

#logo {
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 0, 0);
}

h1 {
  color:rgb(238, 68, 53);
  text-align: left;
  padding: 300;
  font-family: Helvetica
}

h2,li {
  color:rgb(238, 68, 53);
  text-align: left;
  padding: 300;
  font-family: Helvetica;
  vertical-align: inherit;
  display: inline;
}

/* #nombre {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(1) translate(0px, 0px);
} */


/* en este caso el width debería ser 100% para que la imagen siempre esté
fit to page en x y no se coma una parte de la imagen en sus laterales */

body{
  background-size: cover;
  /* background-color: black; */
  font-family: Helvetica
}


a {
  color:rgb(114, 113, 114);
  padding: 0px;

}

p{
  color: rgb(238, 68, 53);
  font-family: Helvetica;
  
  /* vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 50%; */


}
